/.idea/.gitignore
/chat-app-in-plain-java/.idea/.gitignore
/chat-app.iml
/.idea/checkstyle-idea.xml
/chat-app-in-plain-java/.idea/checkstyle-idea.xml
/chat-app-in-plain-java/group-chat.iml
/.idea/misc.xml
/chat-app-in-plain-java/.idea/misc.xml
/.idea/modules.xml
/chat-app-in-plain-java/.idea/modules.xml
/chat-app-in-plain-java/.idea/uiDesigner.xml
/.idea/vcs.xml
